body { 
	background-color: #FAEED1; 
	padding: 10px; 
	margin: 10px; 
} 
.container { 
	width: 690px; 
	height: 220px; 
	position: absolute; 
	margin: auto; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
}
h1 {
    text-align: center;
    color: #607274;
}
h2{
    color: #607274;
}
p, a {
    color: #B2A59B;
}